@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400&subset=latin-ext);
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	color: #6b6b6b;
	position: relative;
	font: 12px/20px 'Open Sans', sans-serif;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling: touch;
	min-width: 320px;
}
a {
	color: #6b6b6b;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
}

:focus,
:active {
	outline:none
}
::-moz-selection {
	color: #fff;
	background: #6b6b6b;
}
*::selection {
	color: #fff;
	background: #6b6b6b;
}
img {
	border: 0;
	position: relative;
	vertical-align: top;
}
li {
	list-style: none;
	position: relative;
}
header, main, nav, section, article, aside, footer {
	display:block;
	position: relative;
}
.clr:after {
	clear: both;
	content: '';
	display: table;
}

.center {
	margin: 0 auto;
	max-width: 1016px;
	position: relative;
}

.input,
.select__value {
	vertical-align: middle;
	padding: 16px 12px 4px;
	width: 100%;
	font: 14px/20px 'Open Sans', sans-serif;
	position: relative;
	-webkit-appearance: none;
	display: block;
	height: 40px;
	border-radius: 2px;
	border: solid 1px rgba(151,151,151,.5);
	color: #6b6b6b;
	background: none;
}
textarea.input {
	resize: none;
	height: 130px;
	overflow: hidden;
	padding: 14px 10px;
}
::-moz-placeholder {
	color: #6b6b6b;
	opacity: .5;
}
:-ms-input-placeholder {
	color: #6b6b6b;
	opacity: .5;
}
::-webkit-input-placeholder {
	color: #6b6b6b;
	opacity: .5;
}
.input:focus::-moz-placeholder {
	color: #9b9b9b;
	opacity: .7;
}
.input:focus:-ms-input-placeholder {
	color: #9b9b9b;
	opacity: .7;
}
.input:focus::-webkit-input-placeholder {
	color: #9b9b9b;
	opacity: .7;
}
.input::-ms-clear {
	display: none
}

.hide {
	display: none;
}
.hidden {
	overflow: hidden;
}

table {
	border: 0;
	border-collapse: collapse;
}


.ruble {
	font-weight: 400;
	font-style: normal;
	font-family: 'PT Sans';
}

/* ico
-----------------------------------------------------------------------------*/
.ico {
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	vertical-align: middle;
	display: inline-block;
	background: url(/images/sprite.svg);
}
.ico--arrow-right-red {
	width: 14px;
	height: 15px;
	background-position: -345px -37px;
}
.ico--arrow-right-gray {
	background-position: -298px -36px;
	height: 15px;
	width: 14px;
}
.ico--close {
	top: 40px;
	right: 40px;
	left: auto;
	background-position: -456px -36px
}
.ico--search {
	background-position: -244px -34px;
}
.ico--arrow-down {
	top: auto;
	left: 50%;
	bottom: 34px;
	margin-left: -15px;
	background-position: -457px -90px;
}
.ico--arrow-next,
.ico--arrow-prev {
	width: 20px;
	height: 20px;
	background-position: -344px -127px;
}
.ico--arrow-next {
	background-position: -344px -87px;
}
.ico--ahtung {
	background-position: -402px -34px;
}

/* btn
-----------------------------------------------------------------------------*/
.btn {
	display:inline-block;
	cursor: pointer;
	text-align: center;
	padding:0 20px;
	line-height: 40px;
	position: relative;
	color: #fff;
	white-space: nowrap;
	font-size: 12px;
	height: 40px;
	border-radius: 2px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: #85744f;
}
.btn--red {
	background: #b20712;
}
.data-hover {
	padding: 0;
	overflow: hidden;
}
.data-hover__text {
	display: block;
	padding: 0 20px;
	position: relative;
	transform: translateY(0);
	transition: transform .2s;
}
.data-hover:hover .data-hover__text,
.data-hover:hover .data-hover__hover {
	transform: translateY(40px);
}
.data-hover__hover {
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(0);
	transition: transform .2s;
}

.btn input {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: -1;
}
.btn-white {
	height: 40px;
	display: block;
	border-radius: 2px;
	border: solid 1px #6b6b6b;
	font-size: 12px;
	font-weight: 700;
	line-height: 38px;
	padding: 0 12px;
	color: #333;
}
.btn-white:hover {
	background: #333;
	color: #fff;
}

hr {
	background: #6b6b6b;
	height: 1px;
	border: 0;
	margin: 20px auto;
	max-width: 100%;
	opacity: .2;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-justify {
	text-align: justify;
}
.clear-both {
	clear: both;
}

.notsel {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


.h1 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 300;
	text-align: center;
}
.h2 {
	color: #333;
	font-size: 26px;
	font-weight: 700;
	line-height: 34px;
	text-align: center;
}
.capslock {
	text-transform: uppercase;
}
.h3 {
	color: #050505;
	font-size: 20px;
	line-height: 27px;
	font-weight: 400;
}
.h4 {
	color: #050505;
	line-height: 16px;
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.m40 {
	margin: 40px auto;
}
.m80 {
	margin: 80px auto;
}

.w100p {
	width: 100%;
}
.w300 {
	width: 300px;
}
.w495 {
	width: 495px;
}

.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flexbox--wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexbox--column {
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-flex-direction:column;
	-webkit-flex-direction:column;
	flex-direction:column;
}
.flexbox--center {
	-webkit-justify-content: center;
	justify-content: center;
}
.flexbox--align-center {
	-webkit-align-items: center;
	align-items: center;
}
.flexbox--justify {
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.flexbox--justify-between {
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

ol {
	counter-reset: headings 0;
}
ol li:before {
	counter-increment: headings 1;
	content: counter(headings, decimal);
}

.checkbox {
	cursor: pointer;
	line-height: 18px;
	padding: 10px 34px;
	position: relative;
	display: inline-block;
	color: #434343;
	font-size: 16px;
	top: 0;
	left: 0;
	position: absolute;
}
.checkbox i {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 8px;
	left: -2px;
	background: url(/images/sprite.svg) -926px -861px;
}
.checkbox input:checked ~ i {
	background-position: -926px -891px;
}



/* select
-----------------------------------------------------------------------------*/
.select {
	display: block;
	position: relative;
	height: 40px;
}
.select select {
	display: none;
}
.select__value{
	cursor: pointer;
	position: relative;
	display: block;
	padding: 9px 34px 9px 12px;
}
.select__text{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.select__value:before{
	position: absolute;
	right: 16px;
	content: '';
	top: 18px;
	border-style: solid;
	border-width: 4px 4px 0;
	border-color: #333 transparent
}
.select__box{
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	padding:42px 0 2px;
	display: none;
	border-radius: 2px;
	border: 1px solid rgba(151,151,151,.5);
	background: #fff;
}
.select__li{
	padding: 5px 12px;
	cursor: pointer;
}
.select__li:hover{
	color: #fff;
	background-color: rgba(151,151,151,.5)
}
.select--focus{
	z-index: 5
}
.select--focus .select__value{
	z-index: 1;
	border-color: transparent;
}
.select--focus .select__value:before{
	border-width: 0 4px 4px;
}
.select--default .select__text{
	font-weight: 300;
}



/* img-cover
-----------------------------------------------------------------------------*/
.img-cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.img-cover .center{
	padding-top: 64px;
	height: 360px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-flex-direction:column;
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-align-items: center;
	align-items: center;
}
.img-cover:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	opacity: .8;
	background: rgba(0,0,0,1);
	background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
	background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.img-cover .h1 {
	text-align: center;
	color: #fff;
	padding: 0 50px;
	max-width: 600px;
	margin: auto;
}
.img-cover p {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: .4px;
	max-width: 600px;
	margin: auto;
	text-align: center;
	color: #fff;
}

.img-cover__prev,
.img-cover__next {
	position: absolute;
	top: 50%;
	left: 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: .4px;
	color: #fff;
	margin-top: 22px;
}
.img-cover__next {
	left: auto;
	right: 0;
}
.img-cover__prev .ico,
.img-cover__next .ico {
	position: relative;
	top: -1px;
	left: -2px;
}
.img-cover__next .ico {
	left: 2px;
}
.img-cover__prev:hover,
.img-cover__next:hover {
	opacity: .5
}

/* breadcrumbs
-----------------------------------------------------------------------------*/


/* tabs
-----------------------------------------------------------------------------*/
.tabs {
	position: relative;
}
.tabs__dt {
	float: left;
	cursor: pointer;
}
.tabs__dd{
	display: none;
}
.tabs__dd--active{
	display: block;
}