				<tbody>

					<tr class="cart__item">

						<td class="cart__col-1">

							<div class="cart-card">

								<div class="cart-card__img">

									<a href="/" target="_blank">
										<img src="/images/product/img--100x100.jpg" srcset="/images/product/img--200x200.jpg 2x" alt="Варочный центр Bertazzoni PRO90 6 MFE S ROT" width="100" height="100">
									</a>

								</div>

								<div class="cart-card__text">

									<div class="cart-card__cat">
										Встраиваемый духовой шкаф с СВЧ
									</div>

									<div class="cart-card__name">
										Варочный центр Bertazzoni PRO90 6 MFE S ROT
									</div>

									<div class="cart-card__availability is-available">
										в наличии
									</div>

								</div>

							</div>

{% if motor != 'on' %}

{% include "cart/motor.html" %}

{% endif %}

						</td>

						<td class="cart__col-3" data-label="Количество">
							<span class="quantity">
								<button class="quantity__btn quantity__btn--down button" type="button" aria-label="уменьшить на одну штуку">
									-
								</button>
								<input type="tel" name="goods[{{ id }}]" value="1" class="quantity__count input" maxlength="3">
								<input type="hidden" value="139900" class="quantity__price">
								<button class="quantity__btn quantity__btn--up button" type="button" aria-label="увеличить на одну штуку">
									+
								</button>
							</span>
						</td>

						<td class="cart__col-4" data-label="Цена, руб.">
							<div class="cart__item-price">
								139 900.00
							</div>
						</td>

						<td class="cart__col-5" data-label="Сумма, руб.">
							<div class="cart__item-price cart__item-price--total">
								139 900.00
							</div>
						</td>

						<td class="cart__col-6" data-label="Удалить из корзины">
							<button class="cart__item-remove button" type="button" aria-label="удалить товар из корзины">
								<svg width="18" height="18" viewBox="0 0 18 18">
									<path d="M9.9944 9.0008l7.7997-7.7997a.7031.7031 0 10-.9944-.9944L9 8.0064 1.2004.2067a.7031.7031 0 10-.9944.9944l7.7996 7.7996L.206 16.8004a.7031.7031 0 10.9944.9944L9 9.9952l7.7996 7.7996a.701.701 0 00.4973.2059.7031.7031 0 00.4972-1.2003L9.9944 9.0008z"/>
								</svg>
							</button>
						</td>

					</tr>

				</tbody>