{% set title = "Sirius" %}
{% set page = "home" %}

{% include "_include/header.html" %}

	<main class="main">

		<article>

			<div class="img-cover flexbox flexbox--center flexbox--column flexbox--align-center">

				<div class="center">

					<h1 class="h1">Добро пожаловать в мир продукции Sirius</h1>
					<p>Высокий имидж фирмы основан на долговременном опыте, внедрении новейших изобретений, гарантиях и традициях, заложенных в систему производства и контроля качества. </p>

				</div>

				<a class="ico ico--arrow-down scroll-next hidden-sm"></a>

			</div>

			<div class="block-cat">

				<ul class="center clr center--sm">

					<li class="block-cat__item block-cat__item--1">
						<a href="" class="block-cat__link">
							<span class="block-cat__title">Придайте своей кухне вкуса!</span>
							<span class="block-cat__readmore">читать</span>
						</a>
					</li>
					<li class="block-cat__item block-cat__item--2">
						<a href="" class="block-cat__link">
							<span class="block-cat__title">Новая коллекция уже в России</span>
							<span class="block-cat__readmore">смотреть</span>
						</a>
					</li>
					<li class="block-cat__item block-cat__item--3">
						<a href="" class="block-cat__link">
							<span class="block-cat__title">Официальный каталог продукции</span>
							<span class="block-cat__top">2015</span>
							<span class="block-cat__readmore"><i class="ico ico--arrow-right-gray"></i>читать</span>
						</a>
					</li>
					<li class="block-cat__item block-cat__item--4">
						<a href="" class="block-cat__link">
							<span class="block-cat__inner">
								<span class="block-cat__title">На весь товар скидки от 30% до 80%</span>
								<span class="block-cat__top">Акция</span>
								<span class="block-cat__readmore">подробнее</span>
							</span>
						</a>
					</li>

				</ul>

			</div>

			<div class="map-address center clr center--sm">

				<img class="map-address__img hidden-xs" src="/images/map.svg" alt="">

				<a class="map-address__marker map-address--moskau map-address__marker--active hidden-xs" data-mod="moskau"></a>
				<a class="map-address__marker map-address--piter hidden-xs" data-mod="piter"></a>

				<div class="visible-xs map-address__select">
					<div class="select">
						<select id="map-address">
							<option value="moskau">Москва</option>
							<option value="piter">Санкт-Петербург</option>
						</select>
					</div>
				</div>

				<div class="map-address__address pull-right w300 xs-float-none xs-w100p">

					<div class="contact-block contact-block--moskau">

						<h3 class="contact-block__title h3 hidden-xs">Москва</h3>

						<p class="contact-block__text">
							<span class="contact-block__label">Адрес</span>
							ул. Тверская 27-Б, офис 12
						</p>

						<a href="" target="_blank" rel="nofollow" class="contact-block__btn btn">Смотреть на карте</a>

						<p class="contact-block__text">
							<span class="contact-block__label">Телефон</span>
							<a class="contact-block__tel" href="tel:+79166184343">+7 (916) 618-43-43</a>
						</p>

						<p class="contact-block__text">
							<span class="contact-block__label">Электронная почта</span>
							<a class="contact-block__mail" href="mailto:contact@sirius.brand">contact@sirius.brand</a>
						</p>

					</div>

					<div class="contact-block contact-block--piter hide">

						<h3 class="contact-block__title h3 hidden-xs">Санкт-Петербург</h3>

						<p class="contact-block__text">
							<span class="contact-block__label">Адрес</span>
							ул. Садовая 69, офис 32
						</p>

						<a href="" target="_blank" rel="nofollow" class="contact-block__btn btn">Смотреть на карте</a>

						<p class="contact-block__text">
							<span class="contact-block__label">Телефон</span>
							<a class="contact-block__tel" href="tel:+79166184343">+7 (916) 618-43-43</a>
						</p>

						<p class="contact-block__text">
							<span class="contact-block__label">Электронная почта</span>
							<a class="contact-block__mail" href="mailto:contact@sirius.brand">contact@sirius.brand</a>
						</p>

					</div>

				</div>

			</div>

		</article>

	</main>

{% include "_include/footer.html" %}