{% set title = "Sirius" %}
{% set page = "home" %}

{% include "_include/header.html" %}

	<main class="main">

		<article>

			<div class="img-cover img-cover--fullscreen flexbox flexbox--center flexbox--column flexbox--align-center">

				<iframe src="https://player.vimeo.com/video/540531522?autoplay=1&loop=1&muted=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

				<script>

					( iframe => {

						const mainResize = ()=> {

							let w = window.innerWidth,
								h = window.innerHeight;
console.log(w,h)
							if ( w < 1250 ) {

								w = 1250 / 2.35;
								h = iframe.parentNode.clientHeight;

							}

							if ( h / w < 1 / 2.35 ) {

								iframe.style.width = w + 'px';
								iframe.style.height = w / 16 * 9 + 'px';

							} else {

								iframe.style.width = w * 2.35 + 'px';
								iframe.style.height = h * 9 / 16 * 2.35 + 'px';

							}

						}

						mainResize();

						window.addEventListener("resize", () => window.requestAnimationFrame( mainResize ));

					})(document.querySelector('.img-cover iframe'));

				</script>

				<div class="center">

					<h1 class="h1">Добро пожаловать в мир продукции Sirius</h1>
					<p>Высокий имидж фирмы основан на долговременном опыте, внедрении новейших изобретений, гарантиях и традициях, заложенных в систему производства и контроля качества. </p>

					<ul class="img-cover__icons">
						<li class="tooltip">
							<img src="https://sirius-russia.ru/img/on-board-motor.png" alt="Мотор в комплекте">
							<b class="hide">Мотор идет в комплекте внутри вытяжки.</b>
						</li>
						<li class="tooltip">
							<img src="https://sirius-russia.ru/img/control-unit.png" alt="Кнопочное управление">
							<b class="hide">Управление вытяжкой механическое, кнопками из нержавеющей стали</b>
						</li>
						<li class="tooltip">
							<img src="https://sirius-russia.ru/img/led.png" alt="Светодиодное освещение">
							<b class="hide">2 больших светодиодных светильника дают мягкий, рассеянный свет.</b>
						</li>
						<li class="tooltip">
							<img src="https://sirius-russia.ru/img/perimeter-suction.png" alt="Всасывание по периметру">
							<b class="hide">Всасывание воздуха осуществляется под давлением через узкие отверстия по периметру.</b>
						</li>
					</ul>

				</div>

				<a class="ico ico--arrow-down scroll-next hidden-sm"></a>

			</div>

			<div class="block-cat">

				<ul class="block-cat__list">

					<li class="block-cat__item block-cat__item--1">
						<a href="" class="block-cat__link">
							<span class="block-cat__title">Придайте своей кухне вкуса!</span>
							<span class="block-cat__readmore">читать</span>
						</a>
					</li>
					<li class="block-cat__item block-cat__item--2">
						<a href="" class="block-cat__link">
							<span class="block-cat__title">Новая коллекция уже в России</span>
							<span class="block-cat__readmore">смотреть</span>
						</a>
					</li>
					<li class="block-cat__item block-cat__item--3">
						<a href="" class="block-cat__link">
							<span class="block-cat__title">Официальный каталог продукции</span>
							<span class="block-cat__top">2015</span>
							<span class="block-cat__readmore"><i class="ico ico--arrow-right-gray"></i>читать</span>
						</a>
					</li>
					<li class="block-cat__item block-cat__item--4">
						<a href="" class="block-cat__link">
							<span class="block-cat__inner">
								<span class="block-cat__title">На весь товар скидки от 30% до 80%</span>
								<span class="block-cat__top">Акция</span>
								<span class="block-cat__readmore">подробнее</span>
							</span>
						</a>
					</li>

				</ul>

			</div>

			<div class="map-address center clr center--sm">

				<img class="map-address__img hidden-xs" src="/images/map.svg" alt="">

				<a class="map-address__marker map-address--moskau map-address__marker--active hidden-xs" data-mod="moskau"></a>
				<a class="map-address__marker map-address--piter hidden-xs" data-mod="piter"></a>

				<div class="visible-xs map-address__select">
					<div class="select">
						<select id="map-address">
							<option value="moskau">Москва</option>
							<option value="piter">Санкт-Петербург</option>
						</select>
					</div>
				</div>

				<div class="map-address__address pull-right w300 xs-float-none xs-w100p">

					<div class="contact-block contact-block--moskau">

						<h3 class="contact-block__title h3 hidden-xs">Москва</h3>

						<p class="contact-block__text">
							<span class="contact-block__label">Адрес</span>
							ул. Тверская 27-Б, офис 12
						</p>

						<a href="" target="_blank" rel="nofollow" class="contact-block__btn btn">Смотреть на карте</a>

						<p class="contact-block__text">
							<span class="contact-block__label">Телефон</span>
							<a class="contact-block__tel" href="tel:+79166184343">+7 (916) 618-43-43</a>
						</p>

						<p class="contact-block__text">
							<span class="contact-block__label">Электронная почта</span>
							<a class="contact-block__mail" href="mailto:contact@sirius.brand">contact@sirius.brand</a>
						</p>

					</div>

					<div class="contact-block contact-block--piter hide">

						<h3 class="contact-block__title h3 hidden-xs">Санкт-Петербург</h3>

						<p class="contact-block__text">
							<span class="contact-block__label">Адрес</span>
							ул. Садовая 69, офис 32
						</p>

						<a href="" target="_blank" rel="nofollow" class="contact-block__btn btn">Смотреть на карте</a>

						<p class="contact-block__text">
							<span class="contact-block__label">Телефон</span>
							<a class="contact-block__tel" href="tel:+79166184343">+7 (916) 618-43-43</a>
						</p>

						<p class="contact-block__text">
							<span class="contact-block__label">Электронная почта</span>
							<a class="contact-block__mail" href="mailto:contact@sirius.brand">contact@sirius.brand</a>
						</p>

					</div>

				</div>

			</div>

			<div class="show-room center clr center--sm">

				<div class="show-room__img">

					<img class="is-active" src="https://sirius-russia.ru//images/block-cat--1.jpg" alt="">
					<img src="https://sirius-russia.ru//images/block-cat--2.jpg" alt="">
					<img src="https://sirius-russia.ru//images/block-cat--4.jpg" alt="">

				</div>

				<div class="show-room__address">

					<div class="contact-block contact-block--moskau">

						<h3 class="contact-block__title h3 hidden-xs">Москва</h3>

						<p class="contact-block__text">
							<span class="contact-block__label">Адрес</span>
							ул. Тверская 27-Б, офис 12
						</p>

						<a href="" target="_blank" rel="nofollow" class="contact-block__btn btn">Смотреть на карте</a>

						<p class="contact-block__text">
							<span class="contact-block__label">Телефон</span>
							<a class="contact-block__tel" href="tel:+79166184343">+7 (916) 618-43-43</a>
						</p>

						<p class="contact-block__text">
							<span class="contact-block__label">Электронная почта</span>
							<a class="contact-block__mail" href="mailto:contact@sirius.brand">contact@sirius.brand</a>
						</p>

					</div>

				</div>

			</div>

		</article>

	</main>

{% include "_include/footer.html" %}