{% set title = "Настенная вытяжка Sirius XXDSG" %}
{% set page = "product" %}

{% include "_include/header.html" %}

	<main class="main">

		<div class="img-cover" data-img="img/product-cover-XXDSG.jpg">

			<div class="center">

				<div class="h1">Sirius XXDSG </div>

				<a class="img-cover__prev hidden-xs" href="product.html"><i class="ico ico--arrow-prev"></i> SDD011 HD</a>
				<a class="img-cover__next hidden-xs" href="product.html">Sirius LDT 2  <i class="ico ico--arrow-next"></i></a>

			</div>

		</div>

		<div class="breadcrumbs">

			<ul class="center clr">
				<li><a href="/">Главная</a></li>
				<li><a href="products.html">Продукция</a></li>
				<li><a href="category.html">Потолочные крепления</a></li>
				<li>Sirius XXDSG</li>
			</ul>

		</div>

		<article class="center">

			<div class="product__body clr">

				<div class="product__images pull-left xs-float-none">

					<ul class="product__img-big">
						<li class="product__img-big__active"><img src="/img/product-big-XXDSG.jpg" srcset="img/product-big-XXDSG-1--2x.jpg 2x" alt=""></li>
						<li><img src="/img/product-small-XXDSG__2.jpg" srcset="img/product-small-XXDSG__2--2x.jpg 2x" alt=""></li>
						<li><img src="/img/product-small-XXDSG__3.jpg" srcset="img/product-small-XXDSG__3--2x.jpg 2x" alt=""></li>
						<li><img src="/img/product-small-XXDSG__2.jpg" srcset="img/product-small-XXDSG__2--2x.jpg 2x" alt=""></li>
					</ul>

					<ul class="product__img-list clr hidden-xs">
						<li class="product__img-list--active"><img src="/img/product-small-XXDSG__1.jpg" srcset="img/product-small-XXDSG__1--2x.jpg 2x" alt=""></li>
						<li><img src="/img/product-small-XXDSG__2.jpg" srcset="img/product-small-XXDSG__2--2x.jpg 2x" alt=""></li>
						<li><img src="/img/product-small-XXDSG__3.jpg" srcset="img/product-small-XXDSG__3--2x.jpg 2x" alt=""></li>
						<li><img src="/img/product-small-XXDSG__2.jpg" srcset="img/product-small-XXDSG__2--2x.jpg 2x" alt=""></li>
					</ul>

				</div>

				<div class="product__detals pull-right sm-float-none">

					<p class="product__sku">
						Код товара: <b>3792Hd284</b>
					</p>

					<h1 class="product__name h3">
						Вытяжка Downdraft S-DD11 PUSH UP EM B
					</h1>

					<hr>

					<form action="/">

						<div class="product__price-box">

							<input type="hidden" name="product-price" value="25689">

							<div class="product__price-box-left">

								<p class="product__price">
									<span id="product__price-text">25 689</span>
									<span class="ruble">
										<span class="ruble__text">рублей</span>
										<span class="ruble__symbol"></span>
									</span>

								</p>

							</div>

							<div class="product__price-box-right">

								<p class="product__availability">
									Есть в наличии
								</p>

							</div>

						</div>

						<div class="product__price-box">

							<div class="product__price-box-left">

								<p class="product__ahtung">
									<i class="ico ico--ahtung"></i>
									Данная цена является рекомендованной для дилеров по всей России.
								</p>

							</div>

							<div class="product__price-box-right">

								<button class="product__buy btn btn--red">
									Купить сейчас
								</button>

							</div>

						</div>

						<div class="product__add-product">

							<p id="product__add-product-select-text" class="product__intro product__intro--ahtung" data-select="Цена изменена, включена стоирмость мотора">
								Вытяжка идет без мотора, не забудьте добавить мотор!
							</p>

							<div class="product__radio-btn-list">

								<label class="radio-btn">
									<input class="radio-btn__input" type="radio" name="motor" value="SEM1" data-price="10000">
									<span class="radio-btn__label">
										Мотор SEM1
									</span>
									<span class="radio-btn__desc">
										Внутренний удаленный мотор SEM1. Разработан для размещения внутри помещения, цена 10 000 рублей. <a href="/" target="_blank">Описание</a>
									</span>
								</label>

								<label class="radio-btn">
									<input class="radio-btn__input" type="radio" name="motor" value="SEM2" data-price="11000">
									<span class="radio-btn__label">
										Мотор SEM2
									</span>
									<span class="radio-btn__desc">
										Удаленный внешний мотор SEM2. Устанавливается за пределами помещения, цена 11 000 рублей. <a href="/" target="_blank">Описание</a>
									</span>
								</label>

								<label class="radio-btn">
									<input class="radio-btn__input" type="radio" name="motor" value="SEM10" data-price="12000">
									<span class="radio-btn__label">
										Мотор SEM10
									</span>
									<span class="radio-btn__desc">
										Удаленный мотор SEM10 для вытяжек с системой DrowDraft, цена 12 000 рублей. <a href="/" target="_blank">Описание</a>
									</span>
								</label>

								<label class="radio-btn">
									<input class="radio-btn__input" type="radio" name="motor" value="SEM12" data-price="13000">
									<span class="radio-btn__label">
										Мотор SEM12
									</span>
									<span class="radio-btn__desc">
										Бесщеточный мотор SEM12, цена 13 000 рублей. <a href="/" target="_blank">Описание</a>
									</span>
								</label>

								<label class="radio-btn">
									<input class="radio-btn__input" type="radio" name="motor" value="S-DD" data-price="14000">
									<span class="radio-btn__label">
										Мотор S-DD
									</span>
									<span class="radio-btn__desc">
										Внутренний двигатель для вытяжек с нижним отводом воздуха DrowDraft, цена 14 000 рублей. <a href="/" target="_blank">Описание</a>
									</span>
								</label>

								<span id="product__radio-btn-desc"></span>

							</div>

							<script>

								(function (radioBtn) {

									if(radioBtn.length) {

										Array.prototype.forEach.call(radioBtn, function(el){

											// описание мотора

											var desc = el.parentNode.querySelector('.radio-btn__desc').innerHTML;

											// цена мотора
											var price = parseInt(el.getAttribute('data-price'));

											// слушаем клик по кнопке
											el.addEventListener('change', function() {

												// выводим описание мотора
												document.querySelector('#product__radio-btn-desc').innerHTML = desc;

												// считаем итоговую цену (товар+мотор)
												var priceTotal = parseInt(document.querySelector('[name="product-price"]').value) + price;

												// отделяем тысячи
												priceTotal = priceTotal.toString().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ');

												// забиваем цену (товар+мотор)
												document.querySelector('#product__price-text').textContent = priceTotal;

												//
												document.querySelector('#product__add-product-select-text').textContent = document.querySelector('#product__add-product-select-text').getAttribute('data-select');

											});

										});
									}

								})(document.querySelectorAll('.radio-btn__input'));

							</script>

						</div>

					</form>

					<hr>

					<p class="product__manufacturer">
						Производитель:
						<b>
							Sirius S.P.A.
						</b>
					</p>

					<hr>

					<p class="product__intro">
						Настенная вытяжка Sirius XXDSG быстро и эффективно удаляет все посторонние запахи с помощью программы очистки воздуха, имеет 4 уровня мощности включая бустер, таймер отключения, звуковую индикацию очистки фильтра, производительность 614 м3/ч.
					</p>

					<table class="table-striped table-striped--bt">
						<tr>
							<td>Размеры (см)</td>
							<td>60 - 90 - 120</td>
						</tr>
						<tr>
							<td>Отделка/цвета</td>
							<td>Нержавеющая сталь</td>
						</tr>
						<tr>
							<td>Модель </td>
							<td>Всасывание</td>
						</tr>
						<tr>
							<td>Устройства управления </td>
							<td>Rotativo 3V</td>
						</tr>
					</table>

				</div>

			</div>

			<div class="product-tab tabs">

				<h2 class="tabs__dt">История</h2>

				<div class="tabs__dd">

{% include "_include/history.html" %}

				</div>

				<h2 class="tabs__dt">Описание</h2>

				<div class="tabs__dd">

					<ul class="desc-photo-text">

						<li class="desc-photo-text__item">
							<div class="desc-photo-text__img">
								<img src="https://elica.com/sites/all/themes/elica2018/img/piano/2017/01.gif" alt="Мощная" width="660" height="370">
							</div>
							<div class="desc-photo-text__text">
								<h3 class="h1">Мощная</h3>
								<p>Улавливает испарения и запахи за рекордно короткое время</p>
								<small>Производительность 1200 м³/с <br> Скорость улавливания испарений 5,1 м/с</small>
							</div>
						</li>
						<li class="desc-photo-text__item">
							<div class="desc-photo-text__img">
								<img src="https://elica.com/sites/all/themes/elica2018/img/piano/2017/02.gif" alt="Низкий уровень шума" width="660" height="370">
							</div>
							<div class="desc-photo-text__text">
								<h3 class="h1">Низкий уровень шума</h3>
								<p>Насладитесь приятной беседой даже во время приготовления пищи</p>
								<small>Уровень шума при максимальной скорости составляет всего 59 дБ(А). <br>Это намного ниже звукового порога, после которого устройство может считаться практически бесшумным.</small>
							</div>
						</li>
						<li class="desc-photo-text__item">
							<div class="desc-photo-text__img">
								<img src="https://elica.com/sites/all/themes/elica2018/img/piano/2017/03.jpg" alt="Простая в использовании" width="660" height="370">
							</div>
							<div class="desc-photo-text__text">
								<h3 class="h1">Простая в использовании</h3>
								<p>Простым нажатием выберите наиболее подходящую скорость работы вытяжки</p>
								<small>NikolaTesla, версия HP, снабжена системой Direct Slider, которая позволяет настроить варочные зоны и мощность всасывания вытяжки простым жестом. <br>Кроме того, устройство изготовлено с использованием технологии Intelligent System, благодаря которой мощность всасывания постепенно снижается, при этом устраняя оставшиеся испарения и запахи.</small>
							</div>
						</li>
						<li class="desc-photo-text__item">
							<div class="desc-photo-text__img">
								<img src="https://elica.com/sites/all/themes/elica2018/img/piano/2017/04.gif" alt="Новые фильтры для улавливания запахов" width="660" height="370">
							</div>
							<div class="desc-photo-text__text">
								<h3 class="h1">Новые фильтры для улавливания запахов</h3>
								<p>Высокоэффективные керамические фильтры для улавливания запахов извлекаются непосредственно в верхней части устройства</p>
								<small>Срок службы составляет 5 лет. Восcтанавливают свойства в духовом шкафу</small>
							</div>
						</li>
						<li class="desc-photo-text__item">
							<div class="desc-photo-text__img">
								<img src="https://elica.com/sites/all/themes/elica2018/img/piano/2017/05.gif" alt="Простая в уходе" width="660" height="370">
							</div>
							<div class="desc-photo-text__text">
								<h3 class="h1">Простая в уходе</h3>
								<p>Никогда еще уборка не была такой простой</p>
								<small>Извлеките жироулавливающий фильтр из центральной решетки  и вымойте его в посудомоечной машине. Далее можно приступить к полной очистке внутренних частей в абсолютно безопасных условиях. Специальный внутренний клапан (отсек) способен защитить двигатель в случае утечки жидкости. <br>A special internal valve allows the discharge of any spilled liquid.</small>
							</div>
						</li>

					</ul>

				</div>

				<h2 class="tabs__dt">Характеристики</h2>

				<div class="tabs__dd">

					<table class="table-striped">
						<tr>
							<td>Размеры (см)</td>
							<td>60 - 90 - 120</td>
						</tr>
						<tr>
							<td>Отделка/цвета</td>
							<td>Нержавеющая сталь</td>
						</tr>
						<tr>
							<td>Модель </td>
							<td>Всасывание</td>
						</tr>
						<tr>
							<td>Устройства управления </td>
							<td>Rotativo 3V</td>
						</tr>
						<tr>
							<td>Освещение</td>
							<td>LED 2X2,5W</td>
						</tr>
						<tr>
							<td>Уровень шума</td>
							<td>68</td>
						</tr>
						<tr>
							<td>Потребляемая мощность (Вт)</td>
							<td>260</td>
						</tr>
						<tr>
							<td>Макс.производительность IEC (M<sup>3</sup>/Ч)</td>
							<td>647</td>
						</tr>
					</table>

				</div>

				<h2 class="tabs__dt">Исполнение</h2>

				<div class="tabs__dd">

{% include "_include/cat-list.html" %}

				</div>

				<h2 class="tabs__dt">Скачать</h2>

				<div class="tabs__dd">

					<ul class="block-col-2 block-col-2--sep">
						<li>
							<img src="/images/product-info.svg" alt="">
							<h4 class="h3">Руководство по эксплуатации</h4>
							<p>Найдите и скачайте руководство для своего прибора Sirius.</p>
							<a class="btn">Найти руководство</a>
						</li>
						<li>
							<img src="/images/product-tech.svg" alt="">
							<h4 class="h3">Схема встраивания</h4>
							<p>Поздравляем с приобретением устройства комании Sirius Brand!</p>
							<a class="btn">Читать дальше</a>
						</li>
					</ul>

				</div>

				<h2 class="tabs__dt">Поддержка</h2>

				<div class="tabs__dd">

{% include "_include/feedback.html" %}

				</div>

			</div>

		</article>

		<aside class="related">

			<h2 class="h2 capslock">Аксессуары</h2>

			<ul class="cat-img3 center clr">

				<li class="cat-img3__item">
					<a class="cat-img3__link" href="category.html">
						<img class="cat-img3__img" src="img/category-1.jpg" srcset="img/category-1--2x.jpg 2x" alt="">
						<span class="cat-img3__name">
							Downdraft
							<i class="ico ico--arrow-right-red"></i>
						</span>
					</a>
				</li>
				<li class="cat-img3__item">
					<a class="cat-img3__link" href="category.html">
						<img class="cat-img3__img" src="img/category-2.jpg" srcset="img/category-2--2x.jpg 2x" alt="">
						<span class="cat-img3__name">
							Потолочные
							<i class="ico ico--arrow-right-red"></i>
						</span>
					</a>
				</li>
				<li class="cat-img3__item">
					<a class="cat-img3__link" href="category.html">
						<img class="cat-img3__img" src="img/category-3.jpg" srcset="img/category-3--2x.jpg 2x" alt="">
						<span class="cat-img3__name">
							Настенные
							<i class="ico ico--arrow-right-red"></i>
						</span>
					</a>
				</li>

			</ul>

		</aside>

	</main>

{% include "_include/footer.html" %}