{% set title = "Сервисные центры Sirius" %}
{% set page = "service" %}

{% include "_include/header.html" %}

		<main class="main">

			<article>

				<div class="img-cover">

					<div class="center">

						<h1 class="h1">Сервисные услуги для наших клиентов</h1>

					</div>

				</div>

				<div class="breadcrumbs">

					<ul class="center clr">
						<li><a href="/">Главная</a></li>
						<li>Сервисные центры</li>
					</ul>

				</div>

				<div class="service__body center center--sm">

					<h2 class="h2 capslock">Сервисные центры</h2>

					<hr>

					<form class="filter-form clr">
<!-- если выбран город то у ссылки btn-white--active отсутствует -->
						<a href="service.html" class="btn-white pull-left btn-white--active">Все города</a>

						<div class="select pull-left">

							<select>
								<option value="none">Выберите город</option>
								<option value="1">Москва</option>
								<option value="2">Санкт-Петербург</option>
								<option value="3">Иваново</option>
							</select>

						</div>

						<label class="btn btn--red pull-left">Показать<input type="submit"></label>

					</form>

					<hr>

					<div class="contact-block">

						<h3 class="h3">Москва</h3>

						<ul class="clr">

{% include "_include/service.html" %}
{% include "_include/service.html" %}
{% include "_include/service.html" %}
{% include "_include/service.html" %}
{% include "_include/service.html" %}

						</ul>

					</div>

					<hr>

					<div class="contact-block">

						<h3 class="h3">Санкт-Петербург</h3>

						<ul class="clr">

{% include "_include/service.html" %}
{% include "_include/service.html" %}
{% include "_include/service.html" %}
{% include "_include/service.html" %}

						</ul>

					</div>

					<hr>

					<div class="contact-block">

						<h3 class="h3">Иваново</h3>

						<ul class="clr">

{% include "_include/service.html" %}
{% include "_include/service.html" %}

						</ul>

					</div>

				</div>

				<div class="center">

{% include "_include/feedback.html" %}

				</div>

			</article>

		</main>

{% include "_include/footer.html" %}